<footer class="footer">
  <p>Licenced under <a href="http://opensource.org/licenses/lgpl-3.0.html" target="_blank">GPL v3.0</a>.
    Found a bug? <a href="https://github.com/barrymcgee/bmg-co-uk/issues">Let me know!</a></p>
    <p>Crafted with ♥ by me in 2016 - <a href="https://github.com/barrymcgee/bmg-co-uk">View the source</a></p>
</footer>

<script>
(function() {

  // cache dom elements
  var body = document.body,
      navTrigger = document.querySelector(".js-nav-trigger"),
      container = document.querySelector(".container"),
      primaryNav = document.querySelector(".js-primary-nav");

  // Flag that JS has loaded
  body.classList.remove("no-js");
  body.classList.add("js");

  // add event ,listener on click
  navTrigger.addEventListener("click", function(){

    // toggle active class on the nav trigger
    this.classList.toggle("open");

    // toggle the active class on site container
    container.classList.toggle("js-nav-active");

  }, false);

})();
</script>
