<footer class="footer row">

  <div class="column">
    <p>Licenced under <a href="http://opensource.org/licenses/lgpl-3.0.html" target="_blank">GPL v3.0</a>.
    Found a bug? <a href="https://github.com/barrymcgee/bmg-co-uk/issues">Let me know!</a></p>
    <p>Crafted with ♥ by me in 2017 &middot; Deployed by <a href="https://www.netlify.com/">Netlify</a></p>
  </div>
  <div class="column social-icons">
    <a class="social-icons__link" href="https://www.linkedin.com/in/barrymcgee" rel="me" target="_blank">
      <img src="http://cdn.brymge.net/img/linkedin.svg?v=1.00" alt="LinkedIn icon" class="footer__icon">
    </a>
    <a class="social-icons__link" href="https://github.com/barrymcgee" rel="me" target="_blank">
      <img src="http://cdn.brymge.net/img/github.svg?v=1.00" alt="Github icon" class="footer__icon">
    </a>
    <a class="social-icons__link" href="https://twitter.com/barrymcgee" rel="me" target="_blank">
      <img src="http://cdn.brymge.net/img/twitter.svg?v=1.001" alt="Twitter icon" class="footer__icon footer__icon--wide">
    </a>
  </div>


</footer>

<script>
(function() {

  // cache dom elements
  var body = document.body,
      navTrigger = document.querySelector(".js-nav-trigger"),
      container = document.querySelector(".container"),
      primaryNav = document.querySelector(".js-primary-nav");

  // Flag that JS has loaded
  body.classList.remove("no-js");
  body.classList.add("js");

  // add event ,listener on click
  navTrigger.addEventListener("click", function(){

    // toggle active class on the nav trigger
    this.classList.toggle("open");

    // toggle the active class on site container
    container.classList.toggle("js-nav-active");

  }, false);

})();


// Google Analytics
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-56518990-1', 'auto');
ga('send', 'pageview');

</script>
