.post {
  &__meta {
    color: $grey-color;
  }

  p:first-child {
    font-size: 2.5rem;
    margin: 3rem 0 2rem;
  }

  &__note {
    border: 1px dashed #ccc;
    padding: 1rem;
    margin: 2rem 0 3rem;
  }

  &__image,
  img {
    width: 100%;
    margin: 2rem 0;
  }

  &__media {
    display: block;
    @extend .clearfix;
  }

  @media screen and (min-width: 740px) {
    &__media-col {
      display: block;
      width: 50%;
      float: left;

      &:first-child {
        padding-right: 2rem;
      }
    }
  }

  h2,
  h3,
  h4 {
    margin: 3rem 0 2rem;
  }

  hr {
    border-top: 0.1rem dotted $grey-color;
    margin: 4rem auto 5rem;
    width: 50%;
  }

  &__content {
    img {
      margin: $spacing-unit 0 $spacing-unit * 2;
    }

    p:first-child {
      font-size: $spacing-unit * 1.5;
      font-style: italic;
    }
  }
}
