.post {

  &__meta {
    color: $grey-color;
  }

  h2, h3, h4 {
    margin-bottom: 2rem;
  }

  hr {
    border-top: 0.1rem dotted $grey-color;
    margin: 4rem auto 5rem;
    width: 50%;
  }

  &__content {

    img {
      margin: $spacing-unit 0 $spacing-unit*2;
    }

    p:first-child {
      font-size: $spacing-unit*1.5;
      font-style: italic;
    }
  }
}
